In [1]:
import pandas as pd

In [2]:

data = pd.DataFrame()

In [3]:
data['Name'] = ['Name1','Name2','Name3','Name4','Name5', 'Name6', 'Name7', 'Name8', 'Name9','Name10']
data['Gender'] = ['m', 'f', 'm', 'f', 'm', 'm', 'm', 'f', 'f', 'm']
data['age'] = ['12', '15', '16', '17', '18', '20', '21', '22', '25', '27']
data['address'] = ['123', '1234', '12345', '1111', '1223', '1456', '156', '176', '186', '100']

In [4]:

print(data)

     Name Gender age address
0   Name1      m  12     123
1   Name2      f  15    1234
2   Name3      m  16   12345
3   Name4      f  17    1111
4   Name5      m  18    1223
5   Name6      m  20    1456
6   Name7      m  21     156
7   Name8      f  22     176
8   Name9      f  25     186
9  Name10      m  27     100

In [5]:
print(data.head())

    Name Gender age address
0  Name1      m  12     123
1  Name2      f  15    1234
2  Name3      m  16   12345
3  Name4      f  17    1111
4  Name5      m  18    1223

In [6]:


print(data.tail())

     Name Gender age address
5   Name6      m  20    1456
6   Name7      m  21     156
7   Name8      f  22     176
8   Name9      f  25     186
9  Name10      m  27     100

In [7]:
print('gender female', data['Gender'].value_counts('f'))

gender female Gender
m    0.6
f    0.4
Name: proportion, dtype: float64

In [8]:
data = data.replace('Name1', 'Name11').replace('Name2', 'Name12')

In [9]:
print(data)

     Name Gender age address
0  Name11      m  12     123
1  Name12      f  15    1234
2   Name3      m  16   12345
3   Name4      f  17    1111
4   Name5      m  18    1223
5   Name6      m  20    1456
6   Name7      m  21     156
7   Name8      f  22     176
8   Name9      f  25     186
9  Name10      m  27     100

In [10]:
print(pd.isna(data))

    Name  Gender    age  address
0  False   False  False    False
1  False   False  False    False
2  False   False  False    False
3  False   False  False    False
4  False   False  False    False
5  False   False  False    False
6  False   False  False    False
7  False   False  False    False
8  False   False  False    False
9  False   False  False    False

In [11]:
print('missing values',data.isnull().sum())

missing values Name       0
Gender     0
age        0
address    0
dtype: int64

In [12]:
print(data.drop(['age'],axis=1))

     Name Gender address
0  Name11      m     123
1  Name12      f    1234
2   Name3      m   12345
3   Name4      f    1111
4   Name5      m    1223
5   Name6      m    1456
6   Name7      m     156
7   Name8      f     176
8   Name9      f     186
9  Name10      m     100

In [13]:
print(data['Gender'].unique())

['m' 'f']

In [14]:
for Name1 in data['Name']:
    print(Name1.upper())

NAME11
NAME12
NAME3
NAME4
NAME5
NAME6
NAME7
NAME8
NAME9
NAME10

In [17]:
print(data['age'].max())

27

In [18]:
print(data['age'].min())

12